<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="发送邮件" href="Mailto:lvyelanshan@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="我的Twitter" target="_blank" href="https://twitter.com/leijianwei1996"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="我的Github" target="_blank" href="https://github.com/Jacky-lei1"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
		<a aria-label="我的YouTuBe频道" target="_blank" href="https://www.youtube.com/channel/UCLQ6hSV9XHL64Tjn9w-B0lg?view_as=subscriber"><i class="icon fa fa-youtube"></i></a>
		<a aria-label="我的B站频道" target="_blank" href="https://space.bilibili.com/21170514"><i class="icon fa fa-tv"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>我的技能</a>
        <a class="link" href="#projects" data-scroll>我的项目</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
