<div class="user-details">
    <h1> 音乐播放 </h1>
</div>
<div class="cuplayer" style="margin-top:50px;">
	<section class="demo">
		<div id="myAudio" style="margin:0 auto;">
			<audio>
				<source title="学猫叫（cover：绿野蓝杉）.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbnV5LVpwVGdkNTNEMHJCP2U9U0JPUDBB.mp3" />
				<source title="嚣张.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbnBGU010SXNoeWZMckYtP2U9WE1oalBX.mp3" />
				<source title="像鱼.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbm5Ldk9fUjhYaFNZQXNxP2U9MnpBUVdJ.mp3" />
				<source title="晚安.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbmhmN1lNZjZQd1d4S0RMP2U9djFjNm1s.mp3" />
				<source title="暗恋是一个人的事.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nblRUaVIxT2pyR0t1LUZCP2U9d2JrSm1j.mp3" />
				<source title="浪子回头.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbl9ldVJmUVFHaVlxcmw4P2U9WDZXalpz.mp3" />
				<source title="烟雨行舟.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbnh4Q1o1SzJaaTNtM0JjP2U9QlhINTlT.mp3" />
				<source title="爱的故事集.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nblU0MkliSDdCRkNQZkUyP2U9bTFmMFhx.mp3" />
				<source title="电灯胆DJ.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbll2bkFTX0dQamFwbUo2P2U9WHh1eFhz.mp3" />
				<source title="让全世界知道我爱你.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbmRhVGpmY0ZVMWhXZ2pTP2U9M3NmWTBD.mp3" />
				<source title="走在冷风中.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbjN0OVdJV1AtQXF0Ui0wP2U9Vkh6Y1Y4.mp3" />
				<source title="闹够了没有.mp3" src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbjcxMDRiZGEwb2NpLWlrP2U9VU5GZ2xI.mp3" />
			</audio>
		</div>
	</section>
</div>