<div class="cuplayer" style="margin-top:50px;">
<section class="demo">
        <div id="myAudio" style="position: absolute;right: 3%;top: 80%">
			<audio>
				<source title="王若琳 - Wild World.mp3" src="http://rm.sina.com.cn/wm/VZ2010050511043310440VK/music/MUSIC1005051622027270.mp3" />
				<source title="韦礼安 - 还是会.mp3" src="http://music.huoxing.com/upload/20121215/1355575227640_8200.mp3" />
				<source title="王若琳 - Lost in paradise.mp3" src="http://rm.sina.com.cn/wm/VZ200812161100307607VK/music/MUSIC0812161100379667.mp3" />
				<source title="郁可唯 - 时间煮雨.mp3" src="http://rm.sina.com.cn/wm/VZ200708161037153290VK/music/1.mp3/20091229/90e6ba45adf30ca3abfe28.mp3" />
				<source title="王若琳 - 三个人的晚餐.mp3" src="http://rm.sina.com.cn/wm/VZ2010050511043310440VK/music/MUSIC1005051622027270.mp3" />
				<source title="王若琳 - I Love You.mp3" src="http://rm.sina.com.cn/wm/VZ200812161100307607VK/music/MUSIC0812161100379667.mp3" />
				<source title="王若琳 - Lemon Tree(中文版).mp3" src="http://rm.sina.com.cn/wm/VZ200708161037153290VK/music/1.mp3/20091229/90e6ba45adf30ca3abfe28.mp3" />
				<source title="王若琳 - 亲密爱人.mp3" src="http://rm.sina.com.cn/wm/VZ2010050511043310440VK/music/MUSIC1005051622027270.mp3" />
			</audio>
		</div>
    </section>
</div>