<div class="user-details">
    <h1> 我的作品 </h1>
</div>
<div class="user-product">
    <!-- Section -->
    <section class="md-section" id="id-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ">
                    <!-- title -->
                    <div class="title">
                        <h2 class="title__title">作品分类</h2>
                    </div><!-- End / title -->
                </div>
            </div>
            <div class="grid-css grid-css--grid" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
                <div class="filter">
                    <ul class="filter__list">
                        <li><a href="#" data-filter="*">所有视频</a></li>
                        <li><a href="#" data-filter=".cat1">视频教程</a></li>
                        <li><a href="#" data-filter=".cat2">吉他演奏</a></li>
                        <li><a href="#" data-filter=".cat3">私人影集</a></li>
                    </ul>
                </div>
                <div class="grid__inner">
                    <div class="grid-sizer"></div>
                    <div class="grid-item normal cat1">
                        <div class="grid-item__inner">
                            <div class="grid-item__content-wrapper">
                                <!-- portfolio -->
                                <div class="portfolio" href="https://www.baidu.com/"><a class="portfolio__bg popup-video" href="https://www.youtube.com/embed/KkZPJYUOi3M" style="background-image: url('/assets/img/1.jpg');" data-effect="mfp-zoom-in"><img src="/assets/img/1.jpg"/>
                                    <div class="portfolio__icon"><i class="fa fa-play"></i></div></a>
                                </div><!-- End / portfolio -->

                            </div>
                        </div>
                    </div>
                    <div class="grid-item normal cat1">
                        <div class="grid-item__inner">
                            <div class="grid-item__content-wrapper">
                                <!-- portfolio -->
                                <div class="portfolio" href="https://onedrive.live.com/embed?cid=CDBEBCC1DB84F5CB&resid=CDBEBCC1DB84F5CB%21362&authkey=AOca4GAue3GzMxU"><a class="portfolio__bg popup-video" href="https://onedrive.live.com/embed?cid=CDBEBCC1DB84F5CB&resid=CDBEBCC1DB84F5CB%21362&authkey=AOca4GAue3GzMxU" style="background-image: url('assets/img/2.jpg');" data-effect="mfp-zoom-in"><img src="assets/img/2.jpg"/>
                                    <div class="portfolio__icon"><i class="fa fa-play"></i></div></a>
                                </div><!-- End / portfolio -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->
</div>

