<div class="user-details">
  <h1> 特色项目 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/oa.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 企业OA办公系统 </h3>
    <ul>
      <li> 项目介绍 </li>
    </ul>
    <p>	   企业OA办公系统主要用于企业的办公信息自动化管理，是专门为企事业单位打造的一款功能全面、设计实用、界面美观、操作简便、安全稳定的协同管理平台。系统基于B/S架构设计，通过浏览器登陆，实现了内部全员办公与管理。同时与业务系统的统一协调，通过数据接口对接，就可以完成业务+办公相互融合，摆脱信息孤岛，建立企业级大数据应用平台。主要包括部门和员工管理模块、考勤报销管理模块、收支模块和分页功能、上传和下载等功能。</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ego.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Ego电商高级项目 </h3>
    <ul>
      <li> 项目介绍 </li>
    </ul>
    <p>Ego电商高级项目主要模拟了淘宝、京东等购物网站，项目实现的功能较多，采用的是分布式的架构设计，整个项目包括后台管理系统、前台系统、订单系统、登录系统、搜索系统、购物车系统等。考虑到服务的调用以及高并发的问题，项目采用了RPC远程调用的方式，每个功能模块之间相互独立，降低了各个系统之间的耦合度，运用了Dubbo框架，服务注册中心使用的是Zookeeper，实现了服务的负载均衡，数据库使用的是MySQL，通过Mybatis逆向工程创建的实体表格，利用Nginx反向代理实现了商品添加页的图片回显。采用Redis缓存，减少服务的调用，利用solr实现商品的检索功能。</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
