<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
        <div style="width:200px;height: 200px;position: absolute;right: 10%;top: 80%">
        <audio autoplay="true" loop="loop" controls="controls" id="audios">
            <source src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBc3YxaE52QnZMN05nbWc1c3I1U0hDbWpGeVI0.mp3" type="audio/mp3" />
        </audio>
    </div>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
	  <section id="projects">
        {% include products.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
