<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
	   <center>
        <audio autoplay="true" loop="loop" controls="controls" id="audios" style="position: absolute;top: 520px;left: 1025px">
            <source src="http://219.76.13.166/m8.music.126.net/20191210180647/74603f6dfb9399d128f13250d49b696d/ymusic/0459/045c/520c/330c359473365e50a368ef0d43bc612f.mp3" type="audio/mp3" />
        </audio>
	  </center>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
